<template>
    <div id='map' style='width: 400px; height: 300px;'></div>
</template>
<script>
import { mapbox } from '../config'
import store from '../store/index';
export default {
    created(){
        var _this = this;
        $(document).ready(function(){
            L.mapbox.accessToken = mapbox.accessToken;
            let map = L.mapbox.map('map')
                .setView([31.989087432191756,35.87155225715255], 16)
                .addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'));

            let geocoderControl = L.mapbox.geocoderControl('mapbox.places', {keepOpen: false, autocomplete: true});
            geocoderControl.addTo(map);
            geocoderControl.on('select', function(object){
                let coord = object.feature.geometry.coordinates;
                L.marker([coord[1], coord[0]]).addTo(map);
                
                store.commit('markerSelected',coord)
                

//                store.commit({
//                    type: 'markerSelected',
//                    latitude: coord[0],
//                    longitude:coord[1]
//                })
            });
        });
    },
    data() {
        return {

        };
    }
};
</script>
